<a href="https://colab.research.google.com/github/ellaclauz/Practicing-Python/blob/main/STELLA_EKOH_A1_WorkingWithNetflixData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving NetflixViewingHistory.csv to NetflixViewingHistory.csv

In [3]:
import pandas as pd
Netflix = pd.read_csv("NetflixViewingHistory.csv")
Netflix.head()

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

In [4]:
# number of rows and column

Netflix.shape

(1972, 2)

In [5]:
# how many enteries are in the dataset
Netflix.shape[0]

1972

In [6]:
# how many columns are in the dataset
Netflix.shape[1]

2

In [7]:
# name of the first column and second column in the dataset

for col in Netflix.columns:
    print(col)

Title
Date

In [8]:
# Title of the all the shows in the dataset

Netflix["Title"]

0              Russian Doll: Season 2: Station to Station
1                     Russian Doll: Season 2: Brain Drain
2               Russian Doll: Season 2: Coney Island Baby
3                          Russian Doll: Season 2: Nowhen
4       Eternally Confused and Eager for Love: Season ...
                              ...
1967                      The OA: Part I: Chapter 4: Away
1968                  The OA: Part I: Chapter 3: Champion
1969              The OA: Part I: Chapter 2: New Colossus
1970                The OA: Part I: Chapter 1: Homecoming
1971                                   The Imitation Game
Name: Title, Length: 1972, dtype: object

In [9]:
Netflix['Title'].apply(lambda title: "Designated Survivor" in title)

0       False
1       False
2       False
3       False
4       False
        ...
1967    False
1968    False
1969    False
1970    False
1971    False
Name: Title, Length: 1972, dtype: bool

In [10]:
# how many times was an episode of the show Designated Survivor watched according to the data?

Netflix['Title'].apply(lambda title: "Designated Survivor" in title).sum()

10

In [11]:
# Title and Date of the show Designated Survivor according to the dataset 

Netflix.loc[("Designated Survivor" in title for title in Netflix["Title"]), :]

                                                  Title     Date
1074  Designated Survivor: Season 3: #truthorconsequ...  6/17/19
1075          Designated Survivor: Season 3: #undecided  6/17/19
1076     Designated Survivor: Season 3: #scaredsh*tless  6/17/19
1077    Designated Survivor: Season 3: #identity/crisis  6/17/19
1078           Designated Survivor: Season 3: #whocares  6/17/19
1083    Designated Survivor: Season 3: #nothingpersonal  6/15/19
1084        Designated Survivor: Season 3: #makehistory  6/15/19
1085      Designated Survivor: Season 3: #privacyplease  6/15/19
1086      Designated Survivor: Season 3: #slipperyslope  6/14/19
1087  Designated Survivor: Season 3: #thesystemisbroken  6/14/19

In [12]:
Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [13]:
Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date")

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [14]:
# sort by date in ascending order

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date", ascending=False)

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [15]:
# sort by date only

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date")["Date"]

413     1/8/21
414     1/8/21
415     1/8/21
416     1/8/21
409     1/9/21
410     1/9/21
411     1/9/21
412     1/9/21
15     3/26/22
13     3/30/22
14     3/30/22
11     3/31/22
12     3/31/22
10      4/2/22
9       4/3/22
8       4/4/22
Name: Date, dtype: object

In [16]:
# when was the starting date of watching the show Bridgerton according to the data

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date")["Date"].iloc[0]

'1/8/21'

In [17]:
Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date")["Title"]

413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
15                 Bridgerton: Season 2: Capital R Rake
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
10                     Bridgerton: Season 2: The Choice
9                         Bridgerton: Season 2: Harmony
8       Bridgerton: Season 2: The Viscount Who Loved Me
Name: Title, dtype: object

In [18]:
# what is the title of the first episode of the show Bridgerton watched according to the data?

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date")["Title"].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

In [19]:
Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date", ascending=False)["Title"]

8       Bridgerton: Season 2: The Viscount Who Loved Me
9                         Bridgerton: Season 2: Harmony
10                     Bridgerton: Season 2: The Choice
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
15                 Bridgerton: Season 2: Capital R Rake
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
Name: Title, dtype: object

In [20]:
# what is the title of the last episode of the show Bridergton watched according to the data

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date", ascending=False)["Title"].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'

In [21]:
Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date", ascending=False)["Date"]

8       4/4/22
9       4/3/22
10      4/2/22
11     3/31/22
12     3/31/22
13     3/30/22
14     3/30/22
15     3/26/22
409     1/9/21
410     1/9/21
411     1/9/21
412     1/9/21
413     1/8/21
414     1/8/21
415     1/8/21
416     1/8/21
Name: Date, dtype: object

In [22]:
# when was the last date of watching the show Bridgerton according to the data

Netflix.loc[("Bridgerton" in title for title in Netflix["Title"]), :].sort_values("Date", ascending=False)["Date"].iloc[0]

'4/4/22'